#page-landing {
  width: 100vw;
  height: 100vh;
  background: #212743;

  display: flex;
  justify-content: center;
  align-items: center;
}

#page-landing .content-wrapper {
  position: relative;

  width: 100%;
  max-width: 1100px;

  height: 100%;
  max-height: 680px;

  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

#page-landing .content-wrapper a {
  color: #00BEE5;
}

#page-landing .content-wrapper main {
  max-width: 870px;
}

#page-landing .content-wrapper main .title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  font-size: 56px;
  font-weight: 900;
  line-height: 70px;
}

#page-landing .content-wrapper main .title .img-logo {
  width: 8%;
  animation: rotation 30s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

#page-landing .content-wrapper main p {
  margin-top: 40px;
  font-size: 24px;
  line-height: 34px;
}

#page-landing .content-wrapper table {
  width: 30%;
  margin-top: 40px;

  border-collapse: collapse;
  border: 2px solid #00BEE5;
}

#page-landing .content-wrapper thead {
  background-color: #00BEE5;
  color: #212743;
  text-align: left;
}

#page-landing .content-wrapper table td, th {
  padding: 0 5px 0 5px;
}

.content-wrapper .location strong {
  font-weight: 800;
}

.content-wrapper .create-order {
  margin-top: 40px;
  width: 140px;

  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}

.content-wrapper .create-order .add {
  width: 30px;
  height: 30px;
  color: #212743;
  background: #00BEE5;
}

.content-wrapper .create-order .add:hover {
  color: #00BEE5;
  background: #212743;
  border: 2px solid #00BEE5;
}